
.containter {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.headertop {
    width:750px;
    height:50px;
    background-color: mediumspringgreen;
}

.headerbottom {
    width:750px;
     height:50px;
    background-color: lightsteelblue
}

.columnleft {
    width: 50px;
    height:500px;
    float:left;
    background-color:red;
}

.columncenter {
    width:650px;
    height: 500px;
    float:left;
    background-color: lightpink;
}

.columnright {
    width: 50px;
    height:500px;
    float:left;
    background-color: deepskyblue;
}

.footer {
    background-color: darkcyan;
    width:750px;
    height:50px;
    clear:left;
}
