
.containter {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.headertop {
    height: 20px;
    background-color: lightcoral;
}

.headerbottom {
    height: 20px;
    background-color: thistle;
}

.columnleft {
    height:500px;
    float:left;
    background-color: lightcyan;
}

.columncenter {
    height: 500px;
    float:left;
    background-color: hotpink;
}

.columnright {
    height:500px;
    float:left;
    background-color:darkblue;
}

.footer {
    background-color:aquamarine;
    clear:left;
}
